<app-menu titulo="Nosotros"></app-menu>
<ion-content class="ion-padding">
  <h1>¿Quienes somos?</h1>

  <div class="image-container">
    <img [src]="'assets/images/Logo_fondo.jpg'" alt="Mi Imagen" class="centered-image">
  </div>

  <p>
    En GreenThreads, nos comprometemos a marcar la diferencia.
    Somos mucho más que una marca de ropa y accesorios; somos una comunidad apasionada por el cambio positivo.
    Nuestra misión es simple pero poderosa: ofrecer prendas y accesorios de moda sustentables que no solo embellecen a
    quienes los usan,
    sino que también cuidan y preservan nuestro planeta.
  </p>

  <div class="image-container">
    <img [src]="'assets/images/moda_2.jpg'" alt="Mi Imagen" class="centered-image">
  </div>

  <p>
    Nos enorgullecemos de ofrecer una amplia gama de productos fabricados con materiales ecológicos, reciclados y de
    origen ético.
    Cada prenda que diseñamos y cada accesorio que creamos se hace con el compromiso de reducir nuestra huella ambiental
    y promover prácticas responsables en toda nuestra cadena de suministro.
  </p>

  <div class="image-container">
    <img [src]="'assets/images/moda.jpg'" alt="Mi Imagen" class="centered-image">
  </div>


  <p>
    Únete a nosotros en nuestro viaje hacia un mundo más consciente y elegante. ¡Gracias por ser parte de esta hermosa revolución sustentable!
  </p>


</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-title">Contacto</ion-title>
    <ion-label>
      <p>Telefono: +56954545454</p>
      <p>Email: greenthreads@gmail.com</p>
    </ion-label>
  </ion-toolbar>
</ion-footer>