<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>¡Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="image-container">
    <img [src]="'assets/images/6681204.png'" alt="Mi Imagen" class="centered-image">
  </div>
  <form [formGroup]="form" novalidate (ngSubmit)="login()">
    <ion-list >
      <ion-item >
        <ion-input fill="solid" label="Correo electrónico" labelPlacement="floating" class="form-control" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input fill="solid" label="Contraseña" labelPlacement="floating" class="form-control" formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-button expand="block" class="text-size padding" type="submit">Entrar</ion-button>
      <div class="ion-text-center" >
        <ion-label>¿No tienes cuenta? <a routerLink="/register">Regístrate</a></ion-label>
      </div>
    </ion-list>
  </form>
  <div class="image-container">
    <img [src]="'assets/images/logo_login.jpg'" alt="Mi Imagen" class="centered-image">
  </div>
</ion-content>
